body {
    background-color:transparent !important;
}
.container {
    max-width: 1150px !important;
    background-color: rgba(242, 242, 242, 0.9);
}
.container .row.big {
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.form-group {
    min-height: 70px;
    margin-bottom: 0.5rem !important;
}
.form-check-inline {
    padding-top: 40px;
    margin-right: 0 !important;
}
.btngroup {
    padding-top: 31px;
}
#new-record, #minus, #close {
    float: right;
    width: 35px;
}
#plusdiv {
    padding: 15px 0 15px 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    float: right;
    width: 75px;
    background-color: rgba(242, 242, 242, 0.9);
}